body
{
    background-color: #0a0908;
    color: white;
}

.seat {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 2px;
}

.seat.selected {
background-color: #fca311;
}

.seat.unavailable {
background-color: #ccc;
}