body{
    background-color: #0d1321;
    color: #dee2e6;
}

input
{
    display: block;
}

.container
{
    background-color: #3e5c76;
    display: flex;
    justify-content: center;
    margin-left: 30vh;
    margin-right: 30vh;
}