@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Poppins:wght@500&family=Roboto:wght@300&display=swap');

body{
    margin: 0;
    background-color: #7ea3dd;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* Navigation Bar */

.nav-bar{
    background-color: #212529;
    color: white;
    padding: 10px;
}

.nav-bar div{
    padding: 5px;
    margin-left: 50px;
}

.nav-item{
    color: #ced4da;
    margin-left: 10px;
}

.nav-item:visited{
    color: #ced4da;
}

.nav-item:hover{
    color: #f8f9fa;
}

/*  HEADER E TITOLO */

.header{
    background-image: url("img/testarossi.jpg");
    background-size: cover;
}

.header .row{
    padding: 10px;
    display: flex;
    align-items: center;
}

.header img{
    width: 12vh;
}

.header #col-1{
    margin-left: 30vh;
    margin-right: 10vh;
}

.header #col-2{
    margin-right: 30vh;
    margin-left: 10vh;
}

.title{
    position: relative;
    min-height: 1px;
    padding-left: 15vh;
    padding-right: 10vh;
    align-items: center;
}

.title #main-title{
    background-color: rgba(241, 241, 241, 0.5);
    font-size: 30px;
}

.title #sub-title{
    background-color: rgba(241, 241, 241, 0.5);
    font-size: 20px;
    border-style: solid;
    border: 10px;
    border-color: rgb(000, 000, 000, 0.5);
}

/*  CAROSELLO    */

.carousel {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 460px;
    width: 1170px;
    background-color: black;
    position:relative;
}

.carousel #arr-left{
    border-radius: 50%;
    position: absolute;
    left: 1128px;
    top: 185px;
    visibility: hidden;
}

.carousel:hover #arr-left{
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 185px;
    visibility: visible;
}

.carousel #arr-right{
    border-radius: 50%;
    position: absolute;
    left: 1128px;
    top: 185px;
    visibility: hidden;
}

.carousel:hover #arr-right{
    border-radius: 50%;
    position: absolute;
    left: 1128px;
    top: 185px;
    visibility: visible;
}

.carousel .arrow img{
    width: 20px;
    height: 20px;
}

.carousel .carousel-btn{
    text-align: center;
    padding: 15px;
}

/*  CONTENUTO PRINICPALE    */

.main{
    background-color: #deeff6;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 1170px;
}

.main .row{
    display: flex;
}

.main .content{
    width: 70%;
}

.main .side-bar{
    width: 30%;
}

/* CONTENT BACHECA  */

.main .bacheca{
    background-color: #279eb1;
}

.main .bacheca .title{
    background-color: #385991;
    color: white;
    font-size: 25px;
    margin-left: 0px;
}

.main .bacheca .links{
    padding: 5px;
    display: flex;
}

.main .bacheca .links a{
    color: white;
    margin-left: 10px;
}

.main .bacheca .links a:visited{
    color: white;
}

.main .bacheca .links a:hover{
    color: white;
}

.main .bacheca .avvisi{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

.main .bacheca h1{
    font-size: 20px;
    color: white;
}

.main .bacheca h2{
    font-size: 15px;
}

/*  CONTENT CIRCOLARI E NEWS    */

.main .content .row{
    display: flex;
    background-color: white;
}

.main .content .row .title{
    background-color: #385991;
    color: white;
    padding: 5px;
}


.main .content .row .news{
    width: 70%;
}

.main .content .row a{
    color: #337ab9;
}

.main .content .row .single-new{
    padding: 8px;
}

.main .content .row .single-circolare{
    padding: 8px;
}

.main .content .row .news p{
    width: 70%;
}

.main .content .row .news-content{
    display: flex;
}

.main .content .row .news img{
    margin-top: 15px;
    width: 70%;
    border: 1px solid black;
    transition: transform .2s; 
}

.main .content .row .news img:hover{
    transform: scale(1.5);
    border: none;
}

.main .content .row .circolari{
    width: 30%;
}

/*  SIDEBAR */



/*  Login   */

.main .side-bar .title{
    padding: 10px;
    background-color: #7fa6e8;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    text-shadow: 3px 1px 6px #000;
    font-size: 1.2em;
    margin: 15px 0px 5px 0px;
}

.main .side-bar .login{
    background-color: #eeeeee;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
}

.main .side-bar .login .text{
    font-size: 13px;
    margin-left: 40%;
    margin-top: 8px;
    margin-bottom: 4px;
}

.main .side-bar .login input{
    display: block;
    width: 97%;
}



.main .side-bar .login button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main .side-bar .login a{
    text-align: center;
}

/* Calendar */

.calendar{
    margin-left: 15px;
    margin-right: 15px;
}
  
.month{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    color: black;
}

.month a {
    cursor: pointer;
}

.weekdays{
    width: 100%;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    letter-spacing: 0.1rem;
    width: calc((25vw - 20px)/7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
}

.days div{
    width: calc((24.4vw)/7);
    margin: 0.5px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 30px;
    background-color: rgb(199,215,221);
}

/*  Image Links */

.main .side-bar .image-links{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 80px;
}

.main .side-bar .image-links ul li{
    padding: 0;
}

.main .side-bar .image-links a{
    margin-top: 100px;
}

.main .side-bar .image-links img{
    width: 320px;
    position: absolute;
    margin: auto;
    transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*  servizi-indirizzi */

.servizi-indirizzi{
    background-color: #deeff6;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.servizi-indirizzi .title{
    font-size: 1.4em;
    background-color: #385991;
    color: #FFF;
    border-radius: 5px;
    padding: 5px;
    margin: 15px 5px 20px 0px;
    box-shadow: 2px 2px 3px #808080;
}

.servizi-indirizzi .row{
    display: flex;
}

.servizi-indirizzi .row .text{
    margin-top: 10px;
    text-align: center;
}

.servizi-indirizzi img{
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

/* PAGE-FOOTER */

.page-footer{
    background-color: #3b5991;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.page-footer h2{
    color: #349aaa;
    text-align: center;
    border-bottom: 2px solid #349aaa;
    margin-left: 20px;
    margin-right: 20px;
}

.page-footer .row{
    display: flex;
}

.page-footer .row .col{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.page-footer .row .col .sub-col{
    width: 292px;
    color: #349aaa;

}

.page-footer .row .col .sub-col h2{
    font-size: 18px;
    font-style: bold;
    text-align: center;
    margin-bottom: 0px;
}

.page-footer .row .col .sub-col hr{
    margin-top: 0px;
    border-color: #349aaa;
}

.page-footer .row .col .sub-col a{
    color: #bcd5d2;
    font-size: 15px;
}

.page-footer .row .col .sub-col a:hover{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

